

  .logo {
    width: 14rem;
    height: auto;
  }

  .right_header_info ul {
    position: relative;
    float: right;
    bottom: 6rem;
    right: 1rem;
  }
  .right_header_info ul li {
    display: inline;
    font-size: 15px;
    font-weight: 300;
    margin-left: 35px;
    color: #222;
    float: left;
  }
  .right_header_info ul li a {
    color: #222;
    text-decoration: none;
  }
  .button_user a {
    display: inline;
    float: left;
    width: auto;
    height: 40px;
    text-align: center;
    line-height: 38px;
    position: relative;
    top: -7px;
    padding: 0 15px;
    margin: 0 2px;
    border: solid #222 1px;
  }
  .button_user a:hover,
  .button_user a:focus,
  .button_user a.active {
    background: #528c2e;
    color: #eee;
    border-color: #528c2e;
    color: #eee;
  }
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.4s;
  }

  .button span:after {
    content: ' for free';
    color: #eee;
    position: absolute;
    opacity: 0;
    top: 0;
    transition: 0.7s;
  }

  .button:hover span {
    padding-right: 4em;
  }

  .button:hover span:after {
    opacity: 4;
    right: 0;
  }
